# ==============================
# 🐘 PostgreSQL Database
# ==============================
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

ASYNC_DATABASE_URL=postgresql+asyncpg://PG_USER:PG_PASSWORD@PG_HOST:PG_PORT/PG_DB


# ==============================
# 🧠 Redis
# ==============================
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=


# ==============================
# 🤖 Bot Configuration
# ==============================
BOT_TOKEN=