# ─── Системные и виртуальные окружения ────────────────────────────────
.venv/
__pycache__/
.idea/

# ─── Конфигурационные и временные файлы ───────────────────────────────
.env
*.log

# ─── Статические файлы ────────────────────────────────────────────────
static/*
!static/.gitkeep

# ─── Миграции Alembic (версии) ───────────────────────────────────────
alembic/versions/*
!alembic/versions/.gitkeep